<head>
		<title>Confirm PIN</title>
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static "validation/main.css" %} "/>
</head>
<body>
  <h1> Almost done! We've texted your phone with a verification code. Please type it below to continue. </h1>
	<div id = "center">
	  <form name="confirmpin" method="POST"  action="{% url 'validation:confirmpin' %}">
	  {% csrf_token %}
	    <table id = "confirmpin">
	      <tr>
	        <td> Please enter the PIN.</td>
	        <td> <input type="text" name="PINinput"> </td>
	      </tr>
	    </table>
			<input type="submit" value="Submit"> </td>
	  </form>

	  {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	</div>
</body>
