<head>
		<title>Validation</title>
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static "validation/main.css" %} "/>
</head>
<body>
  <h1>Hello and welcome to Ashay Vipinkumar's Classroom Validation Service Registration!</h1>
  <br>
  Please enter your information below.
	<div id = "center">
	  <form name="getinfo" method="POST"  action="{% url 'validation:verify' %}">
	  {% csrf_token %}

	    <table id = "registration">
	      <tr>
	        <td> Name</td>
	        <td> <input type="text" name="Name"> </td>
	      </tr>
	      <tr>
	          <td> Phone Number</td>
	          <td><input type="text" name="PhoneNumber"></td>
	      </tr>
	      <tr>
	          <td> Class Name</td>
	        <td><input type="text" name="ClassName"></td>
	      </tr>
	    </table>
			<input type="submit" value="Register"> </td>
	  </form>

	  {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	</div>
</body>
